In [1]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [2]:
titanic = pd.read_csv('titanic.csv')
titanic.columns = ['name', 'survived', 'sex', 'age', 'klass']

In [3]:
titanic.head()

                              name survived     sex   age klass
0    Allen, Miss. Elisabeth Walton      yes  female 29.00   1st
1   Allison, Master. Hudson Trevor      yes    male  0.92   1st
2     Allison, Miss. Helen Loraine       no  female  2.00   1st
3  Allison, Mr. Hudson Joshua Crei       no    male 30.00   1st
4  Allison, Mrs. Hudson J C (Bessi       no  female 25.00   1st

In [5]:
klass    = []  # independent variable
survived = []  # dependent variable

for s, k in zip(titanic.survived, titanic.klass):
    
    if   k == '1st': klass += [1]
    elif k == '2nd': klass += [2]
    else:            klass += [3]  
        
    if s == 'yes': survived += [1]
    else:          survived += [0]

In [6]:
import numpy as np

X = np.array(klass)
y = np.array(survived)

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X.reshape(-1, 1), y, random_state=0)

print(f'Shape of training set = {X_train.shape}')
print(f'Shape of testing  set = {X_test.shape}')

Shape of training set = (981, 1)
Shape of testing  set = (328, 1)

In [8]:
print('     X_train  y_train  X_test  y_test')

for i in range(11):
    print(f'{i:3d}{X_train[i][0]:6d}{y_train[i]:9d}{X_test[i][0]:9d}{y_test[i]:8d}')

     X_train  y_train  X_test  y_test
  0     3        0        3       0
  1     2        0        2       1
  2     1        1        2       0
  3     2        0        3       0
  4     3        0        2       0
  5     3        1        3       1
  6     2        0        1       1
  7     3        1        1       1
  8     1        0        2       0
  9     3        1        3       1
 10     1        1        2       0

In [9]:
from sklearn.linear_model import LogisticRegression

logistic_regression_model = LogisticRegression()
logistic_regression_model.fit(X=X_train, y=y_train)

predicted = logistic_regression_model.predict(X_test)
expected  = y_test

In [10]:
right = 0
wrong = 0

for p, e in zip(predicted, expected):
    if p == e: right += 1
    else:      wrong += 1
        
print(f'right predictions = {right}')
print(f'wrong predictions = {wrong}')
print()
print(f'{100*right/(right + wrong):.0f}% right')

right predictions = 226
wrong predictions = 102

69% right