In [1]:
import numpy as np

xs = [32, 37, 38, 40, 45, 50, 50, 54, 54, 55, 
      61, 63, 63, 64, 64, 70, 70, 75, 76]
ys = [18.3, 18.9, 19.0, 20.9, 21.4, 20.5, 20.1, 20.1, 20.8, 20.5, 
      19.9, 20.5, 20.6, 22.1, 21.9, 21.2, 20.5, 22.7, 22.8]

b = np.array(ys)
ones = np.array([1 for _ in range(len(xs))])

In [2]:
A = np.array([ones, np.array(xs)]).T
A

array([[ 1, 32],
       [ 1, 37],
       [ 1, 38],
       [ 1, 40],
       [ 1, 45],
       [ 1, 50],
       [ 1, 50],
       [ 1, 54],
       [ 1, 54],
       [ 1, 55],
       [ 1, 61],
       [ 1, 63],
       [ 1, 63],
       [ 1, 64],
       [ 1, 64],
       [ 1, 70],
       [ 1, 70],
       [ 1, 75],
       [ 1, 76]])

In [3]:
A.T

array([[ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
         1,  1,  1],
       [32, 37, 38, 40, 45, 50, 50, 54, 54, 55, 61, 63, 63, 64, 64, 70,
        70, 75, 76]])

In [4]:
ATA = A.T@A
ATA

array([[   19,  1061],
       [ 1061, 62371]])

In [5]:
from numpy.linalg import inv
%precision 3

ATAinv = inv(ATA)
ATAinv

array([[ 1.051e+00, -1.788e-02],
       [-1.788e-02,  3.203e-04]])

In [6]:
ATb = A.T@b
ATb

array([  392.7, 22145.5])

In [7]:
xhat = ATAinv@ATb
xhat

array([16.8  ,  0.069])